html {
    color: #ffb000;
    background-color: #333;
}

.files-count {
    color: silver;
    font-size: smaller;
}

.lighttable .slide-wrapper {
    display: inline-block;
}

.lighttable .slide {
    display: flex;
    width: 400px;
    margin: 1px;
    background-color: black;
    margin-top: 0px;
}

.slide img {
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.lighttable .slide .info {
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
    height: 200px;
    font-size: small;

    background-color: #1a1a1a;
    color: #ffb000;
    font-family: 'Courier';
}
